<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demos.kotlin">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".lifecycle.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".WidgetsActivity"></activity>
        <activity android:name=".WeChatMainActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".WaterMarkActivity" />
        <activity android:name=".views.DrawerActivity" />
        <activity android:name=".TouchableBallActivity" /> <!-- 开启页面 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebViewActivity" />
        <activity
            android:name=".lifecycle.FirstActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".lifecycle.BActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance" />
        <activity
            android:name=".lifecycle.AActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".lifecycle.CActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".lifecycle.DActivity"
            android:launchMode="standard" />
        <activity android:name=".NdkDemoActivity" />
        <activity android:name=".kotlinsyntax.KotlinSyntaxActivity" />
        <activity android:name=".ijk.PlayerTest" />
        <activity android:name=".PictureActivity" />
        <activity android:name=".WeChatCameraActivity" /> <!-- 必须加 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.demos.kotlin.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 指定Uri的共享路径 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>